@charset "utf-8";

/* Table Of Contents
----------------------------------------

# common css
## icon color
# top

----------------------------------------*/

/* # common css
---------------------------------------------------------------------------- */
.clearLeft {
	clear: left;
}

/* ## icon color
---------------------------------------------------------------------------- */
.pink {
	color: #ff6666;
}

.gray {
	color: #7F8C8D;
}

/* # top
---------------------------------------------------------------------------- */

ul.userInfoContainer {
	padding: 10px 0 0;
}

ul.userInfoContainer > li.userIcon {
	float: left;
	margin-right: 10px;
	list-style-type: none;
}

p.userName {
	margin-bottom: 0px;
}

p.title {
	font-size: 1.3em;
}

ul.socialContainer {
	padding: 10px 0;
}

ul.socialContainer > li.socialIcon {
	float: left;
	list-style-type: none;
	margin-right: 5px;
}

ul.socialContainer > li.socialIcon > span {
	display: inline-block;
	margin-right: 10px;
	width: 24px;
	font-size: 30px;
}

ul.socialCount {
	padding: 10px 0;
	margin: 80px 0 40px;
}

ul.socialCount > li.socialIcon {
	float: left;
	list-style-type: none;
	margin-right: 5px;
}

ul.socialCount > li.socialNumber{
	float: left;
	margin-right: 10px;
	padding-top: 10px;
	list-style-type: none;
}

.description {
	border: 1px solid #7F8C8D;
	padding: 10px;
	margin: 40px 0 10px;
}
